/* Main styles */
/* Constants */
/* Base styling */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  color: #2a2a2a;
}

.body-wrap {
  padding: 0 28px;
}

.body-wrap-inner {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (max-width: 650px) {
  .body-wrap {
    padding: 0 16px;
  }
}
p {
  color: #2a2a2a;
  margin: 0;
  padding: 0;
  line-height: 145%;
  font-weight: 400;
}

a {
  color: #2a64f8;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: #5b88fa;
}

/* Link styling */
.link-arrow-wrap {
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  transition: all 0.2s;
}

.link-arrow {
  transition: all 0.2s;
  display: inline-block;
}

.link-arrow:after {
  content: "";
  position: relative;
  display: inline-block;
  background: url(../../img/arrow.svg) no-repeat center right;
  background-size: contain;
  width: 30px;
  height: 19px;
  vertical-align: text-bottom;
  left: 0px;
  transition: all 0.2s;
}

.link-arrow:hover:after {
  left: 7px;
}

.link-arrow:hover {
  color: #5b88fa;
}
.link-arrow:hover a {
  color: #5b88fa;
}

.link-arrow {
  color: #2a64f8;
}
.link-arrow a {
  color: #2a64f8;
  text-decoration: none;
}

.section-wrapper {
  margin-bottom: 80px;
}
.section-wrapper .section h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}
.section-wrapper .section .header-desc {
  margin-top: 4px;
  font-size: 0.95em;
  color: #797979;
}
.section-wrapper .section .section-content-wrapper {
  margin-top: 12px;
  margin-bottom: 12px;
}
@media (max-width: 650px) {
  .section-wrapper {
    margin-bottom: 64px;
  }

  .landing-header-wrapper {
    margin-bottom: 64px;
  }
}
.post-fill {
  flex: 1 1 30%;
  margin: 0 9px;
  height: 1px !important;
}

.basic-header-wrapper {
  margin-bottom: 30px;
  height: 180px;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-repeat: no-repeat;
}
.basic-header-wrapper .basic-header {
  height: 120px;
  padding: 24px;
  display: flex;
  align-items: center;
}
.basic-header-wrapper .basic-header h1 {
  color: #2a2a2a;
  font-size: 2.6em;
  margin: 0;
}

@media (max-width: 650px) {
  .basic-header-wrapper {
    margin-bottom: 24px;
    height: 130px;
  }
  .basic-header-wrapper .basic-header {
    padding: 16px;
    height: 90px;
  }
  .basic-header-wrapper .basic-header h1 {
    font-size: 2.15em;
  }
}
nav {
  padding: 24px 0;
}
nav .nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav .nav-wrapper .nav-logo h1 {
  padding: 0;
  margin: 0;
  color: #2a2a2a;
  font-size: 1.25em;
  font-weight: 500;
}
nav .nav-wrapper ul {
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: auto;
}
nav .nav-wrapper ul a {
  color: #2a2a2a !important;
}
nav .nav-wrapper ul a:hover {
  color: #2a64f8 !important;
}
nav .nav-wrapper ul li {
  font-size: 0.9em;
  list-style: none;
  margin-left: 24px;
}

@media (max-width: 650px) {
  nav {
    padding: 16px 0 12px 0;
  }
}
footer {
  padding: 28px 0;
}
footer .footer-inner {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .footer-inner .left p {
  color: #797979;
  font-size: 0.9em;
}
footer .footer-inner .right {
  margin-left: auto;
}
footer .footer-inner .right img {
  height: 20px;
  margin-left: 12px;
  width: auto;
  transition: all 0.2s;
  opacity: 0.5;
}
footer .footer-inner .right img:hover {
  opacity: 0.8;
}

@media (max-width: 650px) {
  footer {
    padding: 24px 0;
  }
}
.body-content h3 {
  color: #2a2a2a;
  margin: 32px 0 8px 0;
  font-size: 1.6em;
}
.body-content h5 {
  color: #2a2a2a;
  margin: 28px 0 6px 0;
  font-size: 1.35em;
}
.body-content p, .body-content b, .body-content i, .body-content u, .body-content strike, .body-content a, .body-content li, .body-content blockquote {
  font-size: 1.05em;
  line-height: 170%;
}
.body-content p {
  margin: 8px 0 32px 0;
}
.body-content a {
  border-bottom: solid #2a64f8 1px;
}
.body-content a:hover {
  border-bottom: solid #5b88fa 1px;
}
.body-content ul, .body-content ol {
  line-height: 170%;
}
.body-content blockquote {
  border-left: solid rgba(42, 100, 248, 0.75) 2px;
  padding-left: 8px;
  margin-left: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.body-content .image-wrap {
  text-align: center;
}
.body-content img {
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 600px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.body-content .caption {
  color: #797979;
  font-size: 0.95em;
  text-align: center;
  margin-top: -8px;
}
.body-content div.center {
  text-align: center;
}

@media (max-width: 650px) {
  .body-content h3 {
    font-size: 1.45em;
  }
  .body-content h5 {
    font-size: 1.25em;
  }
}
.post-header-wrapper {
  margin-bottom: 24px;
}
.post-header-wrapper .post-header {
  width: 100%;
  height: 250px;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-repeat: no-repeat;
}

.post-body-wrapper {
  margin-bottom: 48px;
}
.post-body-wrapper .post-body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.post-body-wrapper .post-body .post-body-header {
  margin-bottom: 48px;
}
.post-body-wrapper .post-body .post-body-header h1 {
  color: #2a2a2a;
  margin: 0;
  margin-bottom: 12px;
  font-size: 2.25em;
}
.post-body-wrapper .post-body .post-body-header .date, .post-body-wrapper .post-body .post-body-header .category {
  margin: 0;
  font-size: 0.95em;
  color: #797979;
}
.post-body-wrapper .post-body .post-body-header .category {
  margin-bottom: 6px;
}

@media (max-width: 650px) {
  .post-header-wrapper {
    margin-bottom: 18px;
  }
  .post-header-wrapper .post-header {
    height: 180px;
  }

  .post-body-wrapper {
    margin-bottom: 48px;
  }
  .post-body-wrapper .post-body .post-body-header {
    margin-bottom: 48px;
  }
  .post-body-wrapper .post-body .post-body-header h1 {
    font-size: 1.9em;
  }
}

/*# sourceMappingURL=post.css.map */
