/* Main styles */
/* Constants - Light mode */
/* Constants - Dark mode */
:root {
  --white-theme: #FFFFFF;
  --black-theme: #2a2a2a;
  --dark-gray-theme: #797979;
  --background-theme: #fafafa;
  --accent-color-theme: #2a64f8;
  --accent-color-highlight-theme: #5b88fa;
  --span-color-theme: #e8eefe;
  --span-color-highlight: #c2d3fd;
}

[data-theme=dark] {
  --white-theme: #181818;
  --black-theme: rgba(255, 255, 255, 0.87);
  --dark-gray-theme: rgba(255, 255, 255, 0.6);
  --background-theme: #121212;
  --accent-color-theme: #2a64f8;
  --accent-color-highlight-theme: #5b88fa;
  --span-color-theme: #1d57f7;
  --span-color-highlight: #0846f3;
}

/* Base styling */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-theme);
  color: var(--black-theme);
  transition: background-color 0.25s, color 0.15s;
}

.body-wrap {
  padding: 0 28px;
}

.body-wrap-inner {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (max-width: 650px) {
  .body-wrap {
    padding: 0 16px;
  }
}
p {
  color: var(--black-theme);
  margin: 0;
  padding: 0;
  line-height: 145%;
  font-weight: 400;
}

a {
  color: var(--accent-color-theme);
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: var(--accent-color-highlight-theme);
}

/* Link styling */
.link-arrow-wrap {
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  transition: all 0.2s;
}

.link-arrow {
  transition: all 0.2s;
  display: inline-block;
}

.link-arrow:after {
  content: "";
  position: relative;
  display: inline-block;
  background: url(../../img/arrow.svg) no-repeat center right;
  background-size: contain;
  width: 30px;
  height: 19px;
  vertical-align: text-bottom;
  left: 0px;
  transition: all 0.2s;
}

.link-arrow:hover:after {
  left: 7px;
}

.link-arrow:hover {
  color: var(--accent-color-highlight-theme);
}
.link-arrow:hover a {
  color: var(--accent-color-highlight-theme);
}

.link-arrow {
  color: var(--accent-color-theme);
}
.link-arrow a {
  color: var(--accent-color-theme);
  text-decoration: none;
}

.section-wrapper {
  margin-bottom: 80px;
}
.section-wrapper .section h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}
.section-wrapper .section .header-desc {
  margin-top: 4px;
  font-size: 0.95em;
  color: var(--dark-gray-theme);
}
.section-wrapper .section .section-content-wrapper {
  margin-top: 12px;
  margin-bottom: 12px;
}

@media (max-width: 650px) {
  .section-wrapper {
    margin-bottom: 64px;
  }

  .landing-header-wrapper {
    margin-bottom: 64px;
  }
}
.post-fill, .work-fill {
  flex: 1 1 30%;
  margin: 0 9px;
  height: 1px !important;
}

.basic-header-wrapper {
  margin-bottom: 30px;
  height: 180px;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-repeat: no-repeat;
}
.basic-header-wrapper .basic-header {
  height: 120px;
  padding: 24px;
  display: flex;
  align-items: center;
}
.basic-header-wrapper .basic-header h1 {
  color: var(--black-theme);
  font-size: 2.6em;
  margin: 0;
}

@media (max-width: 650px) {
  .basic-header-wrapper {
    margin-bottom: 24px;
    height: 130px;
  }
  .basic-header-wrapper .basic-header {
    padding: 16px;
    height: 90px;
  }
  .basic-header-wrapper .basic-header h1 {
    font-size: 2.15em;
  }
}
nav {
  padding: 24px 0;
}
nav .nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav .nav-wrapper .nav-logo h1 {
  padding: 0;
  margin: 0;
  color: var(--black-theme);
  font-size: 1.25em;
  font-weight: 500;
}
nav .nav-wrapper ul {
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: auto;
}
nav .nav-wrapper ul a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--black-theme) !important;
}
nav .nav-wrapper ul a:hover {
  color: var(--accent-color-theme) !important;
}
nav .nav-wrapper ul li {
  font-size: 0.9em;
  list-style: none;
  margin-left: 24px;
}

@media (max-width: 650px) {
  nav {
    padding: 16px 0 12px 0;
  }

  .switch {
    margin-right: -6px;
  }
}
@media (max-width: 350px) {
  nav .nav-wrapper ul li {
    margin-left: 18px;
  }
}
/* Switch styling */
.switch {
  position: relative;
  display: block;
  width: 50px;
  height: 24px;
  padding: 1px;
  background-color: #cccccc;
  border-radius: 24px;
  cursor: pointer;
  box-sizing: content-box;
}

.switch-input:checked ~ .switch {
  background-color: rgba(255, 255, 255, 0.6);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #ffffff;
  border-radius: inherit;
  box-sizing: content-box;
}

.switch-label:before, .switch-label:after {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing: content-box;
}

.switch-label:before {
  background: url(../../img/sun-light.svg) no-repeat center center;
  background-size: contain;
  content: "";
  right: 5px;
  opacity: 0.8;
}

.switch-label:after {
  background: url(../../img/moon-dark.svg) no-repeat center center;
  background-size: contain;
  content: "";
  left: 6px;
  opacity: 0;
}

.switch-input:checked ~ .switch-label {
  background: #181818;
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 0.9;
}

.switch-handle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: #cccccc;
  border-radius: 100%;
}

.switch-input:checked ~ .switch-handle {
  background-color: rgba(255, 255, 255, 0.9);
}

.switch-input:checked ~ .switch-handle {
  left: 29px;
}

/* Transition
========================== */
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

footer {
  padding: 28px 0;
}
footer .footer-inner {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .footer-inner .left p {
  color: var(--dark-gray-theme);
  font-size: 0.9em;
}
footer .footer-inner .right {
  margin-left: auto;
}
footer .footer-inner .right img {
  height: 20px;
  margin-left: 12px;
  width: auto;
  transition: opacity 0.2s;
  opacity: 0.5;
}
footer .footer-inner .right img:hover {
  opacity: 0.8;
}

@media (max-width: 650px) {
  footer {
    padding: 24px 0;
  }
}
.post-item-sleeve {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.post-item-wrapper {
  background-color: var(--white-theme);
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  flex: 1 1 30%;
  margin: 9px 9px;
  position: relative;
  top: 0px;
  transition: top 0.2s, box-shadow 0.2s, background-color 0.25s, color 0.15s;
}
.post-item-wrapper .post-item .post-image-wrap {
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.post-item-wrapper .post-item .post-image-wrap img {
  width: 100%;
  height: auto;
  transition: all 0.2s;
}
.post-item-wrapper .post-item .post-body {
  padding: 12px;
}
.post-item-wrapper .post-item .post-body .post-target {
  height: auto;
}
.post-item-wrapper .post-item .post-body h3 {
  font-size: 1.25em;
  color: var(--black-theme);
  margin-bottom: 5px;
  margin-top: 4px;
  transition: color 0.2s;
}
.post-item-wrapper .post-item .post-body .category {
  font-size: 0.8em;
  color: var(--dark-gray-theme);
}
.post-item-wrapper .post-item .post-body .date {
  margin-top: 30px;
  font-size: 0.8em;
  color: var(--dark-gray-theme);
}
.post-item-wrapper:hover {
  top: -3px;
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.05);
}
.post-item-wrapper:hover .post-image-wrap img {
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.post-item-wrapper:hover .post-body h3 {
  color: var(--accent-color-theme);
}

@media (max-width: 900px) {
  .post-item-wrapper {
    flex: 0 1 auto;
    margin: 1%;
    width: 48%;
  }
  .post-item-wrapper .post-item .post-image-wrap {
    height: 120px;
  }
  .post-item-wrapper .post-item .post-body {
    padding: 12px;
  }
  .post-item-wrapper .post-item .post-body h3 {
    font-size: 1.2em;
  }
  .post-item-wrapper .post-item .post-body .date {
    margin-top: 24px;
  }
}
@media (max-width: 500px) {
  .post-item-wrapper {
    margin: 2% 0;
    width: 100%;
  }
  .post-item-wrapper .post-item .post-image-wrap {
    height: 130px;
  }
  .post-item-wrapper .post-item .post-body {
    padding: 12px;
  }
  .post-item-wrapper .post-item .post-body h3 {
    font-size: 1.25em;
  }
  .post-item-wrapper .post-item .post-body .date {
    margin-top: 32px;
  }
}
@media (max-width: 650px) {
  .section-wrapper {
    margin-bottom: 42px !important;
  }
}
#header-gradient {
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.01);
  background: var(--white-theme);
  background: linear-gradient(90deg, var(--white-theme) 0%, var(--background-theme) 100%);
}

/*# sourceMappingURL=posts.css.map */
