/* Main styles */
@import 'components/main';
@import 'components/nav';
@import 'components/footer';

@import 'components/content-body';

.work-header-wrapper {
    margin-bottom: 24px;
    .work-header {
        width: 100%;
        height: 280px;
        border-radius: 3px;
        box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.05);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 650px) {
    .work-header-wrapper {
        margin-bottom: 18px;
        .work-header {
            height: 180px;
        }
    }
}

.work-body-wrapper {
    padding: 0 $wide-padding;
    .work-body {
        max-width: 825px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.center {
    text-align: center;
}

@media (max-width: 650px) {
    .work-body-wrapper {
        padding: 0 $small-padding;
    }
}

.work-header-text-wrapper {
    margin-bottom: 64px;
    .work-header-text {
        .title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 48px;
            img {
                height: 56px;
                width: auto;
                border-radius: 3px;
                margin: 0;
                margin-right: 16px;
            }
            h1 {
                margin: 0;
                font-size: 2.35em;
            }
        }
        .sub-title {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            .left {
                width: 35%;
                margin-right: 5%;
                h3 {
                    margin: 0;
                    font-size: 1.1em;
                    margin-bottom: 6px;
                }
                .scope {
                    color: var(--dark-gray-theme);
                    margin-bottom: 16px;
                }
            }
            .right-wrapper {
                width: 60%;
                margin: 0;
            }
            .right {
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                flex-wrap: wrap;
                width: 100%;
                .right-item {
                    width: 45%;
                    margin: 0 2.5% 6.5% 2.5%;
                    h3 {
                        margin: 0;
                        font-size: 1.1em;
                        margin-bottom: 6px;
                    }
                    p {
                        color: var(--dark-gray-theme);
                        span {
                            color: var(--black-theme);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .work-header-text-wrapper {
        .work-header-text {
            .title {
                margin-bottom: 32px;
                img {
                    height: 42px;
                    border-radius: 3px;
                    margin-right: 12px;
                }
                h1 {
                    font-size: 1.85em;
                }
            }
            .sub-title {
                display: block;
                .left {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 32px;
                }
                .right-wrapper {
                    width: 100%;
                }
                .right {
                    display: flex;
                    align-items: stretch;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    width: 100%;
                    .right-item {
                        width: 45%;
                        margin: 0 5% 5% 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 560px) {
    .work-header-text-wrapper {
        margin-bottom: 56px;
        .work-header-text {
            .title {
                img {
                    height: 40px;
                    border-radius: 2px;
                    margin-right: 10px;
                }
                h1 {
                    font-size: 1.65em;
                }
            }
            .sub-title {
                .right {
                    .right-item {
                        width: 47.5%;
                        margin: 0 2.5% 5% 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 345px) {
    .work-header-text-wrapper {
        margin-bottom: 48px;
        .work-header-text {
            .title {
                img {
                    height: 36px;
                }
                h1 {
                    font-size: 1.5em;
                }
            }
            .sub-title {
                .right {
                    .right-item {
                        width: 100%;
                        margin: 0 0 18px 0;
                    }
                }
            }
        }
    }
}

.background-change {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (max-width: 650px) {
    .background-change {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

img.wide {
    width: 100%;
    height: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.four-grid-wrap {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}
.four-grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 24px;
    margin-right: 24px;
    img {
        margin: 2% 1.5%;
        width: 47%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .four-grid {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 16px;
        margin-right: 16px;
        img {
            margin: 1.5% 1%;
            width: 48%;
        }
    }
}

@media (max-width: 950px) {
    .four-grid {
        display: block;
        margin-left: $wide-padding;
        margin-right: $wide-padding;
        img {
            margin: 16px 0;
            width: 100%;
        }
    }
}

@media (max-width: 650px) {
    .four-grid {
        margin-left: $small-padding;
        margin-right: $small-padding;
    }
}

img.shadow {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.15);
}

img.shadow-strong {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 650px) {
    img.wide {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.github-wrap {
    margin-top: 36px;
    margin-bottom: 36px;
    .github {
        text-align: center;
        img {
            height: 42px;
            width: auto;
            margin-bottom: 6px;
            opacity: 0.65;
            transition: opacity 0.2s;
        }
        p {
            color: var(--dark-gray-theme);
            transition: color 0.2s;
        }
        &:hover {
            img {
                opacity: 0.9;
            }
            p {
                color: var(--black-theme);
            }
        }
    }
}