/* Main styles */
@import 'components/main';
@import 'components/nav';
@import 'components/footer';

@import 'components/work_item';

@media (max-width: 650px) {
    .section-wrapper {
        margin-bottom: 42px !important;
    }
}

#header-gradient {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.01);
    background: var(--white-theme);
    background: linear-gradient(90deg, var(--white-theme) 0%, var(--background-theme) 100%);
}