/* Constants */
$white: #FFFFFF;
$black: #2a2a2a;
$dark-gray: #797979;
$background: #fafafa;
$accent-color: #2a64f8;
$accent-color-highlight: #5b88fa;
$span-color: #e8eefe;
$span-color-highlight: #c2d3fd;

@import 'main_extension';

.dark-mode {
    display: none !important;
}