/* Constants */
$white: #181818;
$black: rgba(255, 255, 255, 0.87);
$dark-gray: rgba(255, 255, 255, 0.60);;
$background: #121212;
$accent-color: #2a64f8;
$accent-color-highlight: #5b88fa;
$span-color: #1d57f7;
$span-color-highlight: #0846f3;

@import 'main_extension';

.light-mode {
    display: none !important;
}