/* Constants */
$white: #FFFFFF;
$black: #2a2a2a;
$dark-gray: #797979;
$light-gray: #fafaff;
$background: #fafafa;
$accent-color: #2a64f8;
$accent-color-highlight: #5b88fa;

$font-base: 0.95em;
$font-small: 0.9em;
$font-smaller: 0.8em;

$wide-padding: 28px;
$small-padding: 16px;


/* Base styling */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $background;
    color: $black;
}

.body-wrap {
    padding: 0 $wide-padding;
}
.body-wrap-inner {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@media (max-width: 650px) {
    .body-wrap {
        padding: 0 $small-padding;
    }
}

p {
    color: $black;
    margin: 0;
    padding: 0;
    line-height: 145%;
    font-weight: 400;
}

a {
    color: $accent-color;
    text-decoration: none;
    transition: all 0.2s;
}
a:hover {
    color: $accent-color-highlight;
}

/* Link styling */
.link-arrow-wrap {
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    transition: all 0.2s;
}

.link-arrow {
    transition: all 0.2s;
    display: inline-block;
}
.link-arrow:after {
    content: "";
    position: relative;
    display: inline-block;
    background: url(../../img/arrow.svg) no-repeat center right;
    background-size: contain;
    width: 30px;
    height: 19px;
    vertical-align: text-bottom;
    left: 0px;
    transition: all 0.2s;
}

.link-arrow:hover:after {
    left: 7px;
}

.link-arrow:hover {
    color: $accent-color-highlight;
    a {
        color: $accent-color-highlight;
    }
}

.link-arrow {
    color: $accent-color;
    a {
        color: $accent-color;
        text-decoration: none;
    }
}

.section-wrapper {
    margin-bottom: 80px;
    .section {
        h3 {
            font-size: 1.5em;
            font-weight: 500;
            margin: 0;
        }
        .header-desc {
            margin-top: 4px;
            font-size: $font-base;
            color: $dark-gray;
        }
        .section-content-wrapper {
            margin-top: 12px;
            margin-bottom: 12px;
            .section-content {

            }
        }
    }
}

@media (max-width: 650px) {
    .section-wrapper {
        margin-bottom: 64px;
    }
    .landing-header-wrapper {
        margin-bottom: 64px;
    }
}

.basic-header-wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
    .basic-header {
        h1 {
            color: $black;
            font-size: 2.25em;
            margin: 0;
        }
    }
}

@media (max-width: 650px) {
    .basic-header-wrapper {
        .basic-header {
            h1 {
                font-size: 2em;
            }
        }
    }
}