.work-item-sleeve {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.work-item-wrapper {
    flex: 1 1 30%;
    background-color: var(--white-theme);
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin: 9px 9px;
    position: relative;
    top: 0px;
    transition: top 0.15s, box-shadow 0.15s, background-color 0.25s, color 0.15s;
    .work-item {
        padding: 12px;
        .top {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 12px;
            img {
                height: 35px;
                width: auto;
                margin-right: 8px;
                border-radius: 2px;
            }
            h4 {
                color: var(--black-theme);
                font-size: 1.25em;
                margin: 0;
                font-weight: 500;
            }
        }
        .middle {
            font-weight: 400;
            .work-desc {
                color: var(--dark-gray-theme);
                font-size: $font-base;
                margin-bottom: 30px;
                height: auto;
            }
            .date {
                font-size: $font-smaller;
                color: var(--dark-gray-theme);
            }
        }
    }
    &:hover {
        top: -4px;
        box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.05);
    }
}

@media (max-width: 900px) {
    .work-item-wrapper {
        flex: 0 1 auto;
        margin: 1%;
        width: 48%;
    }
}

@media (max-width: 500px) {
    .work-item-wrapper {
        margin: 2% 0;
        width: 100%;
    }
}